################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmartDoor.Server/SmartDoor.Server/SmartDoor.db
